/*
** This CSS code is not done to the web.
** The automatic HTML and CSS code are only a helper.
*/

body {
  text-align: center;
}

#element-1 {
  top: 349px;
  height: 257px;
  width: 523px;
  background: url("slice-00.png") no-repeat;
  position: absolute;
  left: 212px;
}
